


body{
	background: url(../images/common/bg_top.png) 0 0 repeat-x #f8f8f3; /*#FAFAF7*/
}


/*----------------------------------------------------------*/
/*--about 0815--*/
/*----------------------------------------------------------*/
.magazineArea .mTitle{
	margin: 10px 0 5px;
	padding-top: 15px;
	padding-left: 10px;
	font-weight: bold;

}
.magazineArea .titleH3{
	margin-bottom: 0;
}

.f-12{
	font-size: 14px;
}

.pt-15{
	padding-top: 15px;
}

.pt-35{
	padding-top: 35px;
}

.txt-b{
	font-weight: bold;
	font-size: 14px;
}

a.link-t{
	font-size: 14px;
	text-decoration: underline;
}

a.link-t:hover{
	font-size: 14px;
	text-decoration: none;
}
/*----------------------------------------------------------*/
/*--header--*/
/*----------------------------------------------------------*/

header{
	width:960px;
	margin:40px auto 20px auto;
}

h1{
	display: block;
	width:92px;
	height: 92px;
	margin:0 20px 0 0;
	float: left;
}

header ul.gNavi{
	float: left;
	width: 660px;
	/*border: 1px solid #000;*/
}

header ul.gNavi li{
	display: block;
	width:74px;
	height: 74px;
	margin:5px;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
}

header ul.gNavi li.home{
	background: url(../images/common/menuHome.png) 0 0 no-repeat;
}

header ul.gNavi li.about{
	background: url(../images/common/menuAbout.png) 0 0 no-repeat;
}

header ul.gNavi li.service{
	background: url(../images/common/menuService.png) 0 0 no-repeat;
}

header ul.gNavi li.volunteer{
	background: url(../images/common/menuVolunteer.png) 0 0 no-repeat;
}

header ul.gNavi li.contact{
	margin-left:15px;
	background: url(../images/common/menuContact.png) 0 0 no-repeat;
}

header ul.gNavi li:hover{
	background-position: 0 -75px;
}

header ul.gNavi li a{
	display: block;
	width:100%;
	height: 100%;
}

header .langChange{
	margin-top:25px;
	width:168px;
	float: right;
	text-align: right;
}

header .langChange img{
	vertical-align: middle;
}

header .langChange a{
	vertical-align: middle;
	font-size: 13px;
}

header .langChange a:hover{
	color:#1D79CD;/*blue*/
}

/*----------------------------------------------------------*/
/*--contents--*/
/*----------------------------------------------------------*/

.contents{
	width:960px;
	margin:20px auto;
}


img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  /* またはabsolute; */
  top: 0;
  left: 0;
}

.eyeCacth {
	width:100%;
	height:260px;
	background: url(../images/top/mainLotus.png) top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.eyeCacth .eyeCacthInner{
	width:960px;
	margin:0 auto;
}

.eyeCacth .eyeCacthInner .moreAbout,
.eyeCacth .eyeCacthInner .goAbout{
	display: block;
	float: left;
}



.eyeCacth .eyeCacthInner .moreAbout{
	text-align: center;
	color: #fff;
	width:65%;
	font-size: 14px;
}

.eyeCacth .eyeCacthInner .moreAbout img{
	display: block;
	width: 524px;
	height:auto;
	margin: 55px auto 15px auto;
}


.eyeCacth .eyeCacthInner .goAbout{
	width:35%;
	margin-top:110px;
}

.eyeCacth .eyeCacthInner .goAbout a{
	display: block;
	width:195px;
	height:50px;
	background-color: #00BD7F;
	color: #fff;
	text-align: center;
	line-height: 50px;
	border-radius: 3px;
}

.eyeCacth .eyeCacthInner .goAbout a:hover{
	background-color: #089768;
}



.titleServices h2{
	font-size: 40px;
	font-weight: bold;
	color: #000;
	vertical-align: middle;
	/*border: 1px solid #000;*/
	display: block;
	width: 637px;
	float: left;
	padding-top: 5px;
	clear: both;
}

.titleServices h2 img{
	vertical-align: middle;
	margin:-10px 10px 0 0;
}

.titleServices h2 span{
	font-weight: normal;
	margin:0 0 0 10px;
	line-height: 100%;
	font-size: 14px;
	vertical-align: middle;
}

.titleServices h2 i.pink{
	color: #D6007F;
	font-style: normal;
	font-size: 40px;
}

.titleServices .btnServices{
	display: block;
	width: 323px;
	float: right;
}

.serviceCatUl{
	width: 900px;
	margin:0 30px;
}

.serviceCatUl li{
	display: block;
	width:300px;
	height:300px;
	float: left;
	text-align: center;
	background: url(../images/top/circleBg.png) 50% 50% no-repeat;
}

.serviceCatUl h3{
	margin:40px auto 0;
	text-align: center;
}

.serviceCatUl h3 a{
	font-size: 16px;
	font-weight: bold;
}


.serviceCatUl img{
	width:202px;
	height: 104px;
}

.serviceCatUl li p,
.serviceCatUl li p br{
	font-size: 14px;
	line-height: 160%;
	text-align: center;
}


.topInfo{
	margin:45px 0;
}

.newsSec{
	width:468px;
	height: 210px;
	border: 1px solid #ccc;
	border-top: 4px solid #000;
	background-color: #fff;
	float: left;
	overflow: scroll;

}

.newsSec h2{
	margin:7px 10px 0 10px;
	font-size: 18px;
	padding:0;
	line-height: 130%;
	font-weight: bold;
}

.newsSec p{
	font-size: 14px;
	margin:5px 10px 10px 10px;
	line-height: 150%;
}

.newsSec p.entryDate{
	font-size: 12px;
	padding: 2px 0;
	margin: 5px 10px 5px 10px;
	text-indent: 5px;
	background-color: #eee;
}

.addSec{
	width:468px;
	height: 210px;
	border: 1px solid #ccc;
	border-top: 4px solid #000;
	background-color: #fff;
	float: right;
}

.addSec dl{
	widows: 468px;
	margin:10px;
}

.addSec dt{
	border-bottom: 1px solid #ccc;
	display: block;
	width: 68px;
	min-height:65px;
	float: left;
	clear: left;
	text-indent: -9999px;
	overflow: hidden;
}

.addSec dt.dtMap{
	background: url(../images/top/iconMap.png) 50% 50% no-repeat;
}

.addSec dt.dtPhone{
	background: url(../images/top/iconTel.png) 50% 50% no-repeat;
}

.addSec dt.dtMail{
	background: url(../images/top/iconMail.png) 50% 50% no-repeat;
}

.addSec dd{
	border-bottom: 1px solid #ccc;
	display: block;
	width: 380px;
	min-height: 65px;
	float: left;
	font-size: 14px;
	line-height: 65px;
}

.addSec dd.address{
	line-height: 130%;
	min-height: 60px;
	padding-top: 5px;
}

.addSec dd.address a{
	color: #D6007F;
	font-size: 14px;
	text-decoration: underline;
	margin-left: 5px;
}

.addSec dd.address a:hover{
	color: #3e7cca;
}

.addSec dt.bdNone,
.addSec dd.bdNone{
	border: none;
}

.addSec dd span{
	font-size: 12px;
	margin-left: 5px;
}

.addSec dd a.goContact{
	font-weight: bold;
	font-size: 14px;
}

.addSec dd a.goContact:hover{
	color: #D6007F;
}

.bannerTop{
	text-align: center;
}

.bannerTop .ehonLink{
	float: left;
	width:375px;
	height:90px;
	margin:0 10px 0 95px;
}

.bannerTop .fbLink{
	float: right;
	position: relative;
	width:375px;
	height:90px;
	margin:0 95px 0 10px;
}

.bannerTop .fbLink a{
	display: block;
	width:375px;
	height:90px;
}

.bannerTop .fb-like{
	position: absolute;
	top:29px;
	left:220px;
	/*border: 1px solid #000;*/
}


.bannerTop img{
	margin:0;
}


footer{
	margin-top: 50px;
	border-top: 2px #D6007F solid;
	text-align: center;
	position:relative;
}


.pagetop {
	width:60px;
	height: 141px;
	position: fixed;
	bottom: 45px;
	right: 30px;
}

.pagetop a{
	display: block;
	width: 60px;
	height: 70px;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
}



.pagetop a.home {
	background: url(../images/common/scrollHome.png) 0 0 no-repeat;
	border-bottom: 1px #fff solid;
}


.pagetop a.vn {
	background: url(../images/common/scrollVn.png) 0 0 no-repeat;
}

footer small{
	font-size: 12px;
	color: #555;
}


/*-----------------------------------------------*/
/*--下層部--*/
/*-----------------------------------------------*/

.titleCommon h2{
	font-size: 40px;
	font-weight: bold;
	padding: 0 0 5px 0;
	text-indent: 15px;
	background: url(../images/common/h2bg.png) 0 bottom no-repeat;
	vertical-align: middle;
}

.titleCommon h2 span{
	font-size: 16px;
	font-weight: normal;
	margin-left: 15px;
	vertical-align: middle;
}

.titleH3{
	border-bottom: 2px solid #C4C4BE;
	line-height: 23px;
	vertical-align: top;
	z-index: 0;
	margin: 35px 0;
	font-weight: bold;
}

.titleH3 span{
	border-bottom: 2px solid #D6007F;
	line-height: 23px;
	vertical-align: top;
	z-index: 100;
	padding-bottom: 2px;
}

.imgStyle{
	margin-bottom: 50px;
}

.slogan{
	font-size: 40px;
	font-family: serif;
	color: #000;
}

.tableStyle{
	border-top: 1px solid #E1E1D2;
	border-left: 1px solid #E1E1D2;
	border-right: 1px solid #E1E1D2;
	width:90%;
	margin:0 auto 50px;
}

.tableStyle th,
.tableStyle td{
	padding:5px 7px;
	font-size: 14px;
	border-bottom: 1px solid #E1E1D2;
}

.tableStyle th{
	font-weight: bold;
	font-size: 14px;
	width:15%
}

.aboutBtnArea{
	text-align: center;
	display: block;
	width: 587px;
	margin: 0 auto 40px;
}

.aboutBtnArea img,
.aboutBtnArea a{
	margin: 0;
	padding:0;
	float: left;
	display: block;
	width: 289px;
	height: 67px;
}

.gMaps{
	text-align: center;
}

.gMaps iframe{
	margin:auto;
	display: block;
	width:98%;
	height:350px;
	border: 1px solid #ddd;
}

.addCaption{
	font-size: 12px;
	margin:5px 0 0 10px;
}

/*-----------------------------------------------*/
/*--services--*/
/*-----------------------------------------------*/

.subNavi{
	float: left;
	width:218px;
	margin:30px 50px 0 10px;

}

.subNavi h3{
	margin-top:8px;
	background-color: #E1E1D2;
	font-size: 16px;
	font-weight: bold;
	text-indent: 10px;
	height:40px;
	line-height: 40px;
}

.subNavi ul{
	border: 1px solid #E1E1D2;
}

.subNavi ul li{
	height:40px;
	line-height: 40px;
	text-indent: 10px;
}

.subNavi ul li a,
.subNavi h3 a.gray{
	display: block;
	width:100%;
	height: 100%;
	line-height: 40px;
}

.subNavi ul li:hover{
	background-color: #eee;
}

.subNavi ul li a.green{
	background: url(../images/pages/arrowGreen.png) 96% 50% no-repeat;
}

.subNavi ul li a.yellow{
	background: url(../images/pages/arrowYellow.png) 96% 50% no-repeat;
}

.subNavi ul li a.blue{
	background: url(../images/pages/arrowBlue.png) 96% 50% no-repeat;
}

.subNavi h3 a.gray{
	background: url(../images/pages/arrowGray.png) 96% 50% no-repeat;
}

.subNavi ul li:nth-child(2){
	border-top:1px solid #E1E1D2;
	border-bottom:1px solid #E1E1D2;
}

.servicesContents{
	float: left;
	width:680px;
	margin:30px 0 0 0;
}

.servicesContents h3{
	width:99%;
	margin-bottom: 20px;
}

.servicesContents section h2{
	width:680px;
	height:40px;
	margin:0 0 30px 0;
	text-indent: -9999px;
	overflow: hidden;

}

section.createSec h2{
	background: url(../images/pages/create.png) 0 0 no-repeat;
}

section.adprSec h2{
	background: url(../images/pages/adpr.png) 0 0 no-repeat;
}

section.coordinateSec h2{
	background: url(../images/pages/coordinate.png) 0 0 no-repeat;
}

section p.center{
	margin-bottom: 30px;
}

.detail{
	font-size: 14px;
}

.langDl{
	margin:15px 0 40px 0;
}

.langDl dt{
	font-weight: bold;
	display: inline;
	font-size: 14px;
	float: left;
	vertical-align: middle;
}

.langDl dt img{
	vertical-align: middle;
}

.langDl dd{
	display: inline;
}

.langDl dd ul{
	display: inline;
}

.langDl dd ul li{
	float: left;
	font-size: 14px;
	margin-left:18px;
	background: url(../images/pages/markCheck.png) 0 50% no-repeat;
	padding-left: 28px;
}

dl.icon dd{
	font-size: 20px;
	font-weight: bold;
	text-indent:;
	padding-left:  50px;
	margin: 16px 0 15px;
}

dl.icon dt,
dl.icon dt{
	display: block;
	width:33px;
	min-height:33px;
	float: left;
	text-align: center;
	font-family: serif;
	font-style: italic;
	color: #fff;
	font-size: 14px;
	line-height: 33px;
	text-indent: -2px;
	margin-right: 5px;
}

dl.icon dt .b1{
	background: url(../images/pages/b1.png) 0 50% no-repeat;
	display: block;
	width:33px;
	color: #fff;
	font-size: 14px;
	line-height: 33px;
	text-indent: -2px;
	margin-right: 5px;}

dl.icon dt .g1{
	background: url(../images/pages/g1.png) 0 50% no-repeat;
	display: block;
	width:33px;
	color: #fff;
	font-size: 14px;
	line-height: 33px;
	text-indent: -2px;
	margin-right: 5px;}

	dl.icon dt .y1{
		background: url(../images/pages/y1.png) 0 50% no-repeat;
		display: block;
		width:33px;
		color: #fff;
		font-size: 14px;
		line-height: 33px;
		text-indent: -2px;
		margin-right: 5px;}

.servicesContents .projectTitle{
	background-color: #E1E1D2;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	text-indent: 10px;
	width:99%;
	margin:0 0 10px 0;
}

.servicesContents .projectTitle b{
	font-size: 14px;
}

.photoPop li{
	float: left;
	margin:0 6px 0;
	padding:0;
	height:133px;
	border: 1px solid #ddd;
}

.column2Left{
	width:48%;
	margin-right:2%;
	float: left;
	clear:left;
}

.column2Right{
	width:48%;
	margin-left:2%;
	float: left;

}

.webLink{
	background: url(../images/pages/hyphen.jpg) 0 50% no-repeat;
	text-indent: 12px;
	margin:10px 0 0 10px;
	font-size: 14px;
}

.webLink a{
	font-size: 14px;
	color:#1D70B7;
	text-decoration: underline;
}

.btnContactArea{
	margin:30px 0 40px 0;
	text-align: center;
}

.adprSec .clients{
	margin: 0 0 0 1px;
}

.adprSec .clients li{
	float: left;
	width: 214px;
	height: 330px;
	border: 1px solid #E1E1D2;
	border-top: 3px solid #333;
	background-color: #fff;
	margin:0 5px;
	padding:0 0 5px 0;
}

.adprSec .clients li img{
	width: 180px;
	height:60px;
	display: block;
	margin:20px auto;
}

.adprSec .clients li h3{
	width:100%;
	height:50px;
	font-size: 16px;
	font-weight: bold;
	border-top: 1px solid #E1E1D2;
	margin:5px 0 0 0;
	padding:8px 0 0 10px;
	line-height: 150%;
}

.adprSec .clients li ul{
	margin:5px 10px 15px;
}

.adprSec .clients li ul li{
	border: none;
	float: none;
	height:18px;
	font-size: 12px;
	margin: 0;
	line-height: 160%;
	padding: 0;
	width:100%;
	color: #555;
}

.webLink2{
	font-size: 12px;
	color:#1D70B7;
	text-decoration: underline;
	margin:0 0 0 10px;
	padding:0;
	line-height: 100%;
}

.pdfBtn a{
	display: block;
	clear: both;
	width:186px;
	height: 38px;
	margin:8px auto;
	background: url(../images/pages/pdfBtn.png) 0 0 no-repeat;
	font-size: 13px;
	font-weight: bold;
	text-indent: 55px;
	line-height: 38px;
}

.taskServices li{
	background: url(../images/pages/hyphen.jpg) 0 50% no-repeat;
	font-size: 14px;
	text-indent: 12px;
	margin:5px 0 0 7px;
}


.volunteerSec h2{
	background: url(../images/pages/volunteer.png) 0 0 no-repeat;
}

.ehonBanner{
	text-align: center;
	margin-bottom: 50px;
}



.sponsorSec h2{
	background: url(../images/pages/sponsor.png) 0 0 no-repeat;
}

.sponsorSec dl{
	width:80%;
	margin: 50px auto 20px;
}

.sponsorSec dl dt{
	background-color: #E1E1D2;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin:10px 0;
	padding: 4px 0;
	line-height: 130%;
}

.sponsorSec dl dd{
	text-align: center;
	margin:0 0 15px 0;
}

.sponsorSec dl dd a{
	font-size: 14px;
	color:#1D70B7;
	text-decoration: underline;
	text-shadow: 0 0 3px #ccc;
}



/*-----------------------------------------------*/
/*--inquiry / contact --*/
/*-----------------------------------------------*/

.inqPhone{
	height:35px;
	line-height: 35px;
	vertical-align: middle;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	display: block;
	color: #D6007F;
}

.inqPhone img,
.MapOffice img{
	vertical-align: middle;
	margin-right: 5px;
}

.inqInfo{
	margin:30px 0 0 0;
	font-size: 14px;
	line-height: 120%;
	text-align: center;
}

.MapOffice{
	text-align: center;
	margin:20px 0 40px 0;
}

.MapOffice a{
	font-size: 14px;
	text-decoration: underline;
	color:#1D70B7;
}

.MailForm{
	width:58%;
	border: 3px solid #333;
	background-color: #fff;
	margin:30px auto;
	padding-bottom: 20px;
	border-radius: 8px;
}

.MailForm h3{
	width:100%;
	text-align: center;
	background-color: #333;
	color: #fff;
	padding:2px 0;
}

.MailForm table{
	width: 92%;
	margin:3% 4% 2%;
}

.MailForm.confirm table{
	margin-top:25px;
	border: 1px solid #ccc;
	border-bottom: none;
}

.MailForm.confirm table th,
.MailForm.confirm table td{
	border-bottom: 1px solid #ccc;
}

.MailForm table th,
.MailForm table td{
	text-align: center;
	font-size: 14px;
}

.MailForm table th{
	background-color: #eee;
	font-weight: bold;
	height:30px;
	line-height: 30px;
}

.MailForm table td{
	padding:13px 0 15px 0;
}

.MailForm table td input[type="text"],
.MailForm table td input[type="email"]{
	width:98%;
	border: 1px solid #ccc;
}

.MailForm table td input[type="radio"]{
	margin:0 2px 0 10px;
}

.MailForm table td textarea{
	width:98%;
	height:200px;
	border: 1px solid #ccc;
}

.MailForm input.confirm{
	width:130px;
	height: 52px;
	border: none;
	display: block;
	margin: auto;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/pages/confirm.png) 0 0 no-repeat;
	cursor: pointer;
}

.MailForm .inqBtnSelect{
	text-align: center;
}

.MailForm .inqBtnSelect input[type="submit"],
.MailForm .inqBtnSelect input[type="button"]{
	height:30px;
}

.errorArea{
	text-align: center;
	width:90%;
	margin:40px auto;
}

.errorArea p{
	text-align: center;
}

/*-----------------------------------------------*/
/*--volunteer--*/
/*-----------------------------------------------*/

div.content {
	display: none;
	width: 420px;
	margin:15px 9px 15px 15px;
	float: left;
	background: #fff;
	border: 8px solid #fff;
	box-shadow:rgba(190, 190, 190, 0.4) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(190, 190, 190, 0.4) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(190, 190, 190, 0.4) 0px 0px 6px 3px;
}

div.slideshow-container {
	position: relative;
	width: 420px;
	height: 300px;
	margin: 0 auto;
	padding: 0;
	text-indent: 0;
	text-align: center;
	height: 300px;
}
div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 420px;
	height: 300px;
}

/*位置を固定するためにこれは必要*/
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: -3px;
	width: 420px;
	height: 300px;
	margin: 0;
	padding: 0;
	text-align: center;

}

div.slideshow a.advance-link {
	display: block;
	width: 420px;
	height: 300px;
	text-indent: 0;
	margin: 0;
	padding: 0;
	text-align: center;
}

div.slideshow img {
	width: 414px;
	height:300px;
	margin:0 auto;
	text-indent: 0;
	vertical-align: top;
}

div.caption-container {
	position: relative;
	height: 25px;
}

span.image-caption {
	display: block;
	position: absolute;
	width: 420px;
	top: 0;
	left: 0;
	text-indent: 5px;
	padding-top: 3px;
}

div.caption {
	font-size: 12px;
}


div.navigation {
	width:470px;
	margin:15px;
	float: right;
	}

ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
}

ul.thumbs li {
	float: left;
	padding: 0;
	list-style: none;
	list-style-position: inside;
	width:82px;
	height:82px;
	margin:0 6px 12px 6px;
	margin-top: 0;
	border: 8px solid #fff;
	box-shadow:rgba(190, 190, 190, 0.4) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(190, 190, 190, 0.4) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(190, 190, 190, 0.4) 0px 0px 6px 3px;
}

a.thumb {
	display: block;
}

ul.thumbs li.selected a.thumb {
}

a.thumb:focus {
	outline: none;
}

ul.thumbs img {
	width:82px;
	height:82px;
	margin:0;
	border: none;
	display: block;
}
div.pagination {
	clear: both;
}

/*ここまでギャラリー*/


.tableStyle.ehon{
	border-left:none;
}

.tableStyle.ehon th{
	width: 55px;
	border-left: 1px solid #E1E1D2;
}

.bannerFB{
	text-align: center;
}

.bannerFB p{
	font-size: 14px;
	margin-top: 5px;
}

/*-----------------------------------------------*/
/*--module--*/
/*-----------------------------------------------*/

i.pink{
	color: #D6007F;
	font-style: normal;
	font-size: inherit;
	margin-right:1px;
}

.bdNone{
	border: none;
}


/*透過*/
.pagetop a:hover,
.bannerTop img:hover,
.titleServices .btnServices:hover,
.aboutBtnArea a:hover,
.btnContactArea:hover,
.pdfBtn a:hover,
.ehonBanner a:hover,
.subNavi h3 a.gray:hover,
.bannerFB a:hover{
	filter: alpha(opacity=70);
    -moz-opacity:0.70;
    opacity:0.70;
}

.center{
	text-align: center;
}

.introAbout{
	margin: 40px 0 40px 0;
}

.bCenter{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.box{
	cursor: pointer;
}

.box:hover a{
	color: #D6007F;
}
